node_modules/
npm-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
.git
.gitignore
dist/
build/
electron/dist
build/bin/*
release
out
*.asar
uploads/
outputs/
temp/
cookies/
local-inputs/
cache/
coverage
*.log
.env
.env.*
!.env.default
INITIAL_ADMIN_PASSWORD.txt
.gharmonize-key
*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore